.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom */
.overlay{
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container{
  width: 320px;
  border: 1px solid #0a0a0a;
  border-radius: 10px;
}

.form-head{
  width: 100%;
  background: #0A0A0A;
  color: white;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.form-body{
  padding: 24px;
}


